<template>
  <div>
    <v-navigation-drawer v-model="drawer" app permanent width="300px">
      <v-list flat>
        <div v-for="(link, index) in links" :key="index">
          <v-list-group
            :key="link.text"
            no-action
            v-if="link.show"
            active-class="ci-orange--text text--accent-4"
          >
            <template v-slot:activator>
              <v-list-item-title>
                <div class="nav-head">
                  <v-list-item-icon>
                    <v-avatar size="24" tile>
                      <v-img :src="link.icon" contain></v-img>
                    </v-avatar>
                  </v-list-item-icon>
                  {{ link.text }}
                </div>
              </v-list-item-title>
            </template>

            <v-list-item
              v-for="sublink in link.subLinks"
              :to="sublink.to"
              :key="sublink.text"
              v-if="sublink.show"
              active-class="ci-orange--text text--accent-4"
            >
              <v-list-item-title v-text="sublink.text" />
            </v-list-item>
          </v-list-group>
        </div>
      </v-list>
      <!-- logout -->
      <template v-slot:append>
        <div class="pa-2 mb-8">
          <v-btn block text @click="logout()"> ออกจากระบบ </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <nuxt-child class="pa-5" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
      drawer: true,
      links: [
        {
          icon: "/image/icons/news.png",
          text: "ข่าวสาร / กฎหมาย",
          subLinks: [
            {
              text: "ข่าวสาร / กฎหมาย",
              to: "/main/news",
              show: true,
            },
          ],
          show: true,
        },
        {
          icon: "/image/icons/openbook.png",
          text: "เรื่องน่ารู้",
          subLinks: [
            {
              text: "เรื่องน่ารู้",
              to: "/main/knowledge",
              show: true,
            },
          ],
          show: true,
        },
        {
          icon: "/image/icons/woman.png",
          text: "ความรุนแรงต่อผู้หญิง",
          subLinks: [
            {
              text: "ความรุนแรงต่อผู้หญิง",
              to: "/main/violent/violent",
              show: true,
            },
            {
              text: "คำถามที่พบบ่อย",
              to: "/main/violent/FAQ",
              show: true,
            },
          ],
          show: true,
        },
        {
          icon: "/image/icons/flatlocation.png",
          text: "แผนที่หน่วยงาน",
          subLinks: [
            {
              text: "หน่วยงานช่วยเหลือ",
              to: "/main/location/helper",
              show: true,
            },
            {
              text: "โรงพยาบาล",
              to: "/main/location/hospital",
              show: true,
            },
            {
              text: "สถานีตำรวจ",
              to: "/main/location/police",
              show: true,
            },
          ],
          show: true,
        },
        {
          icon: "/image/icons/group.png",
          text: "สมาชิก",
          subLinks: [
            {
              text: "รายชื่อสมาชิก",
              to: "/main/member",
              show: true,
            },
          ],
          show: true,
        },
        {
          icon: "/image/icons/inbox.png",
          text: "กล่องจดหมาย",
          subLinks: [
            {
              text: "กล่องจดหมาย",
              to: "/main/inbox",
              show: true,
            },
          ],
          show: true,
        },
      ],
    };
  },
  methods: {
    logout() {
      // console.log("logout");
      this.$cookies.removeAll();
      this.$router.push("/login");
    },
  },
  beforeMount() {
    // console.log(this.$cookies.get("token"));
  },
};
</script>