<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h3>พิกัดหน่วยงาน</h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          ชื่อ
          <v-text-field
            v-model="form.name"
            background-color="white"
            outlined
            dense
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="3">
          ละติจูด
          <v-text-field
            v-model="form.lat"
            background-color="white"
            outlined
            dense
          >
          </v-text-field>
        </v-col>
        <v-col cols="3">
          ลองติจูด
          <v-text-field
            v-model="form.lng"
            background-color="white"
            outlined
            dense
          >
          </v-text-field>
        </v-col>
      </v-row>

      <!-- btn -->
      <v-row style="margin-top: 500px">
        <v-col>
          <v-divider class="py-2"></v-divider>
          <v-btn
            color="ci-orange"
            class="white--text px-8"
            @click="btnEvent('submit')"
            >บันทึก</v-btn
          >
          <span class="px-2"></span>
          <v-btn
            outlined
            color="ci-grey-dk2"
            class="px-8"
            @click="btnEvent('delete')"
            >ลบทิ้ง</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
      form: {
        name: "",
        lat: "",
        lng: "",
      },
    };
  },
  methods: {
    fetchData() {
      // /department
      this.$axios
        .get(`/department/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    btnEvent(mode) {
      if (mode == "submit") {
        if (this.$route.query.type == "add") {
          // post
          this.$axios
            .post(`/department`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("สร้างหน่วยงานช่วยเหลือใหม่สำเร็จ");
                this.$router.push("/main/location/helper");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        } else if (this.$route.query.type == "edit") {
          // put
          this.$axios
            .put(`/department`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("แก้ไขที่อยู่หน่วยงานสำเร็จ");
                this.$router.push("/main/location/helper");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      } else if (mode == "delete") {
        if (this.$route.query.type == "add") {
          // back
          alert("ยกเลิกการสร้างที่อยู่หน่วยงานช่วยเหลือ");
          this.$router.push("/main/location/helper");
        } else if (this.$route.query.type == "edit") {
          // delete /department/:id
          this.$axios
            .delete(`/department/` + this.$route.query.id)
            .then((response) => {
              if (response.data.success == "success") {
                alert("ลบที่อยู่หน่วยงานช่วยเหลือสำเร็จ");
                this.$router.push("/main/location/helper");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("token") === undefined) {
      this.$router.push("/login");
    } else {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      if (this.$route.query.type == "edit") {
        this.fetchData();
      }
    }
  },
};
</script>