<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h2>เรื่องน่ารู้</h2>
        </v-col>
        <v-col align="right">
          <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="ci-orange"
                class="white--text"
                v-bind="attrs"
                v-on="on"
              >
                สร้างใหม่
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(item, index) in dropdownitems"
                :key="index"
                :to="'/main/knowledge/detail?type=add&content=' + item.type"
              >
                <v-list-item-icon>
                  <v-icon>
                    {{ item.icon }}
                  </v-icon>
                </v-list-item-icon>
                <v-list-item-title class="ci-grey--text">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-col>
      </v-row>

      <!-- text field -->
      <v-row class="justify-end">
        <v-col cols="3">
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateRangeText"
                label="เลือกช่วงวันที่"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="dates" range>
              <!-- @change="fetchData()" -->
            </v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="3">
          <v-text-field
            v-model="search"
            placeholder="ค้นหา"
            prepend-inner-icon="mdi-magnify"
            outlined
            dense
          >
          </v-text-field>
        </v-col>
      </v-row>

      <!-- data table -->
      <v-row v-if="results != null">
        <v-col>
          <v-data-table :headers="headers" :items="results" :search="search">
            <template v-slot:item.btn="{ item }">
              <v-btn outlined @click="rowClickHandle(item)">
                <v-icon size="18"> mdi-pencil </v-icon>
                จัดการ
              </v-btn>
            </template>
            <template v-slot:item.type="{ item }">
              <v-chip v-if="item.type == 1">
                <v-icon class="black--text"> mdi-image-multiple </v-icon>
                รูปภาพ
              </v-chip>
              <v-chip v-if="item.type == 2">
                <v-icon class="black--text"> mdi-video </v-icon>
                วิดีโอ
              </v-chip>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
      menu: false,
      dates: [],
      dropdownitems: [
        {
          title: "อัพโหลดวิดีโอ",
          icon: "mdi-video-plus-outline",
          type: "video",
        },
        { title: "อัพโหลดภาพ", icon: "mdi-image-outline", type: "image" },
      ],
      headers: [
        { text: "วันที่สร้าง", value: "date_create" },
        { text: "ชื่อรายการ", value: "topic_th" },
        { text: "รูปแบบ", value: "type" },
        { text: "", value: "btn" },
      ],
      results: null,
      search: "",
    };
  },
  methods: {
    fetchData() {
      // /knowledge
      this.$axios
        .get(`/knowledge`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    clearEndDate() {},
    rowClickHandle(item) {
      this.$router.push(
        `/main/knowledge/detail?type=edit&content=${
          item.type == 1 ? "image" : "video"
        }&id=${item.id}`
      );
    },
  },
  beforeMount() {
    if (this.$cookies.get("token") === undefined) {
      this.$router.push("/login");
    } else {
      this.fetchData();
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
    }
  },
  computed: {
    dateRangeText() {
      return this.dates.join(" - ");
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
};
</script>