<template>
  <div>
    <div hidden>
      <input
        type="file"
        id="imgThumbnail"
        ref="file"
        hidden
        v-on:change="upload()"
        accept="image/*"
      />
    </div>
    <div hidden>
      <input
        type="file"
        id="imgContent"
        ref="file"
        hidden
        v-on:change="uploadIMG()"
        accept="image/*"
      />
    </div>
    <div hidden>
      <input
        type="file"
        id="vidContent"
        ref="file"
        hidden
        v-on:change="uploadVID()"
        accept="video/*"
      />
    </div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h3>เนื้อหา</h3>
        </v-col>
      </v-row>
      <!-- {{ contenttype }} -->
      <!-- {{ form }} -->
      <br />
      <br />
      <!-- {{ uploadVidPercentage }} -->

      <!-- thai -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/Thailand.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">
                    <b> ภาษาไทย </b>
                  </div>
                </v-col>
              </v-row>

              <!-- content cover -->
              <v-row>
                <v-col>
                  <v-img
                    :src="getThumbnail(form.thumbnail_th)"
                    width="200"
                    contain
                    @click="chooseImage('thumb_th')"
                  >
                  </v-img>
                </v-col>
              </v-row>

              <!-- name -->
              <v-row>
                <v-col>
                  ชื่อ
                  <v-text-field
                    v-model="form.topic_th"
                    background-color="white"
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
              </v-row>

              <!-- content ex -->
              <v-row v-if="form.image_th != null">
                <v-col
                  cols="3"
                  v-for="(item, index) in form.image_th"
                  :key="index"
                  align="center"
                >
                  <v-img
                    :src="getImageContent(item.img_url)"
                    max-height="200"
                    contain
                  >
                  </v-img>
                  <v-btn icon @click="delContentIMGhandle('th', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row v-if="form.clip_th != null">
                <v-col align="center">
                  <div>
                    <Media
                      :kind="'video'"
                      :muted="false"
                      :src="getVideoContent(form.clip_th)"
                      :autoplay="false"
                      :controls="true"
                      height="300"
                    >
                    </Media>
                  </div>
                  <v-btn icon @click="delContentVIDhandle('th', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-progress-linear
                    v-if="uploadVidPercentage != 0"
                    color="ci-orange"
                    :value="uploadVidPercentage"
                  ></v-progress-linear>
                </v-col>
              </v-row>

              <!-- upload -->
              <v-row>
                <v-col>
                  <div>กดเลือกไฟล์ เพื่ออัพโหลดเนื้อหาข่าวสาร / กฎหมาย</div>
                  <div>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-if="contenttype == 'image'"
                      @click="chooseContentImage('image_th')"
                    >
                      เลือกไฟล์
                    </v-btn>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-else-if="contenttype == 'video'"
                      @click="chooseContentVid('video_th')"
                    >
                      เลือกไฟล์
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- eng -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/English.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">
                    <b> English </b>
                  </div>
                </v-col>
              </v-row>

              <!-- content cover -->
              <v-row>
                <v-col>
                  <v-img
                    :src="getThumbnail(form.thumbnail_en)"
                    width="200"
                    contain
                    @click="chooseImage('thumb_en')"
                  >
                  </v-img>
                </v-col>
              </v-row>

              <!-- name -->
              <v-row>
                <v-col>
                  name
                  <v-text-field
                    v-model="form.topic_en"
                    background-color="white"
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
              </v-row>

              <!-- content ex -->
              <v-row>
                <v-col
                  cols="3"
                  v-for="(item, index) in form.image_en"
                  :key="index"
                  align="center"
                >
                  <v-img
                    :src="getImageContent(item.img_url)"
                    max-height="200"
                    contain
                  >
                  </v-img>
                  <v-btn icon @click="delContentIMGhandle('en', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row v-if="form.clip_en != null">
                <v-col align="center">
                  <div v-if="form.clip_en != null">
                    <Media
                      :kind="'video'"
                      :muted="false"
                      :src="getVideoContent(form.clip_en)"
                      :autoplay="false"
                      :controls="true"
                      height="300"
                    >
                    </Media>
                  </div>
                  <v-btn icon @click="delContentVIDhandle('en', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-progress-linear
                    v-if="uploadVidPercentage != 0"
                    color="ci-orange"
                    :value="uploadVidPercentage"
                  ></v-progress-linear>
                </v-col>
              </v-row>

              <!-- upload -->
              <v-row>
                <v-col>
                  <div>กดเลือกไฟล์ เพื่ออัพโหลดเนื้อหาข่าวสาร / กฎหมาย</div>
                  <div>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-if="contenttype == 'image'"
                      @click="chooseContentImage('image_en')"
                    >
                      เลือกไฟล์
                    </v-btn>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-else-if="contenttype == 'video'"
                      @click="chooseContentVid('video_en')"
                    >
                      เลือกไฟล์
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- mm -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/Myanmar.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">
                    <b> Myanmar </b>
                  </div>
                </v-col>
              </v-row>

              <!-- content cover -->
              <v-row>
                <v-col>
                  <v-img
                    :src="getThumbnail(form.thumbnail_my)"
                    width="200"
                    contain
                    @click="chooseImage('thumb_my')"
                  >
                  </v-img>
                </v-col>
              </v-row>

              <!-- name -->
              <v-row>
                <v-col>
                  name
                  <v-text-field
                    v-model="form.topic_my"
                    background-color="white"
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
              </v-row>

              <!-- content ex -->
              <v-row>
                <v-col
                  cols="3"
                  v-for="(item, index) in form.image_my"
                  :key="index"
                  align="center"
                >
                  <v-img
                    :src="getImageContent(item.img_url)"
                    max-height="200"
                    contain
                  >
                  </v-img>
                  <v-btn icon @click="delContentIMGhandle('my', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row v-if="form.clip_my != null">
                <v-col align="center">
                  <div v-if="form.clip_my != null">
                    <Media
                      :kind="'video'"
                      :muted="false"
                      :src="getVideoContent(form.clip_my)"
                      :autoplay="false"
                      :controls="true"
                      height="300"
                    >
                    </Media>
                  </div>
                  <v-btn icon @click="delContentVIDhandle('my', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-progress-linear
                    v-if="uploadVidPercentage != 0"
                    color="ci-orange"
                    :value="uploadVidPercentage"
                  ></v-progress-linear>
                </v-col>
              </v-row>

              <!-- upload -->
              <v-row>
                <v-col>
                  <div>กดเลือกไฟล์ เพื่ออัพโหลดเนื้อหาข่าวสาร / กฎหมาย</div>
                  <div>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-if="contenttype == 'image'"
                      @click="chooseContentImage('image_my')"
                    >
                      เลือกไฟล์
                    </v-btn>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-else-if="contenttype == 'video'"
                      @click="chooseContentVid('video_my')"
                    >
                      เลือกไฟล์
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- kh -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/Cambodia.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">
                    <b> Cambodia </b>
                  </div>
                </v-col>
              </v-row>

              <!-- content cover -->
              <v-row>
                <v-col>
                  <v-img
                    :src="getThumbnail(form.thumbnail_kh)"
                    width="200"
                    contain
                    @click="chooseImage('thumb_kh')"
                  >
                  </v-img>
                </v-col>
              </v-row>

              <!-- name -->
              <v-row>
                <v-col>
                  name
                  <v-text-field
                    v-model="form.topic_kh"
                    background-color="white"
                    outlined
                    dense
                  >
                  </v-text-field>
                </v-col>
              </v-row>

              <!-- content ex -->
              <v-row>
                <v-col
                  cols="3"
                  v-for="(item, index) in form.image_kh"
                  :key="index"
                  align="center"
                >
                  <v-img
                    :src="getImageContent(item.img_url)"
                    max-height="200"
                    contain
                  >
                  </v-img>

                  <v-btn icon @click="delContentIMGhandle('kh', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row v-if="form.clip_kh != null">
                <v-col align="center">
                  <div v-if="form.clip_kh != null">
                    <Media
                      :kind="'video'"
                      :muted="false"
                      :src="getVideoContent(form.clip_kh)"
                      :autoplay="false"
                      :controls="true"
                      height="300"
                    >
                    </Media>
                  </div>
                  <v-btn icon @click="delContentVIDhandle('kh', index)">
                    <v-icon class="red--text">mdi-close-thick</v-icon>
                  </v-btn>
                </v-col>
              </v-row>

              <v-row>
                <v-col>
                  <v-progress-linear
                    v-if="uploadVidPercentage != 0"
                    color="ci-orange"
                    :value="uploadVidPercentage"
                  ></v-progress-linear>
                </v-col>
              </v-row>

              <!-- upload -->
              <v-row>
                <v-col>
                  <div>กดเลือกไฟล์ เพื่ออัพโหลดเนื้อหาข่าวสาร / กฎหมาย</div>
                  <div>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-if="contenttype == 'image'"
                      @click="chooseContentImage('image_kh')"
                    >
                      เลือกไฟล์
                    </v-btn>
                    <v-btn
                      color="ci-blue"
                      class="white--text"
                      v-else-if="contenttype == 'video'"
                      @click="chooseContentVid('video_kh')"
                    >
                      เลือกไฟล์
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- btn -->
      <v-row>
        <v-col>
          <v-divider class="py-2"></v-divider>
          <v-btn
            color="ci-orange"
            class="white--text px-8"
            @click="btnEvent('submit')"
            >บันทึก</v-btn
          >
          <span class="px-2"></span>
          <v-btn
            outlined
            color="ci-grey-dk2"
            class="px-8"
            @click="btnEvent('delete')"
            >ลบทิ้ง</v-btn
          >
        </v-col>
      </v-row>
    </v-container>

    <v-dialog v-model="loadingDialog" max-width="300">
      <v-card elevation="0">
        <v-container>
          <v-row>
            <v-col>
              <v-progress-circular indeterminate></v-progress-circular>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Media from "@dongido/vue-viaudio";

export default {
  components: {
    Media,
  },
  data() {
    return {
      contenttype: "",
      results: null,
      form: {
        topic_th: "",
        topic_en: "",
        topic_my: "",
        topic_kh: "",
        image_th: null,
        image_en: null,
        image_my: null,
        image_kh: null,
        clip_th: null,
        clip_en: null,
        clip_my: null,
        clip_kh: null,
        thumbnail_th: "",
        thumbnail_en: "",
        thumbnail_my: "",
        thumbnail_kh: "",
      },
      loadingDialog: false,
      uploadVidPercentage: 0,
    };
  },
  methods: {
    fetchData() {
      // /news
      this.$axios
        .get(`/news/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    getThumbnail(path) {
      // console.log(path);
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "/image/Thumbnail.png";
      }
    },
    chooseImage(id) {
      this.img_index = id;
      document.getElementById("imgThumbnail").click();
    },
    upload() {
      let file = null;
      file = event.target.files[0];

      let fd = new FormData();
      fd.append("image", file);

      this.$axios.post("/upload/image", fd).then((response) => {
        if (response.data.success == "success") {
          switch (this.img_index) {
            case "thumb_th":
              this.form.thumbnail_th = response.data.path;
              break;
            case "thumb_en":
              this.form.thumbnail_en = response.data.path;
              break;
            case "thumb_my":
              this.form.thumbnail_my = response.data.path;
              break;
            case "thumb_kh":
              this.form.thumbnail_kh = response.data.path;
              break;
            default:
              break;
          }
          document.getElementById("imgThumbnail").value = null;
        } else {
          alert(
            response.data.message_th ||
              "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
          );
        }
      });
    },
    getImageContent(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
    chooseContentImage(id) {
      // console.log("id " + id);
      this.img_content_index = id;
      document.getElementById("imgContent").click();
    },
    uploadIMG() {
      let file = null;
      file = event.target.files[0];
      // console.log("upload log ");
      let fd = new FormData();
      fd.append("image", file);
      this.$axios.post("/upload/image", fd).then((response) => {
        if (response.data.success == "success") {
          switch (this.img_content_index) {
            case "image_th":
              this.form.image_th.push({ img_url: response.data.path });
              break;
            case "image_en":
              this.form.image_en.push({ img_url: response.data.path });
              break;
            case "image_my":
              this.form.image_my.push({ img_url: response.data.path });
              break;
            case "image_kh":
              this.form.image_kh.push({ img_url: response.data.path });
              break;
            default:
              break;
          }
          document.getElementById("imgContent").value = null;
        } else {
          alert(
            response.data.message_th ||
              "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
          );
        }
      });
    },
    getVideoContent(path) {
      if (path) {
        return `${process.env.SERVER_URL}/image/${path}`;
      } else {
        return "";
      }
    },
    chooseContentVid(id) {
      this.vid_content_index = id;
      document.getElementById("vidContent").click();
    },
    uploadVID() {
      let file = null;
      file = event.target.files[0];
      let fd = new FormData();
      fd.append("image", file);
      this.$axios
        .post("/upload/video", fd, {
          onUploadProgress: function (progressEvent) {
            this.uploadVidPercentage = parseInt(
              Math.round((progressEvent.loaded / progressEvent.total) * 100)
            );
            // console.log(
            //   parseInt(
            //     Math.round((progressEvent.loaded / progressEvent.total) * 100)
            //   )
            // );
          }.bind(this),
        })
        .then((response) => {
          if (response.data.success == "success") {
            switch (this.vid_content_index) {
              case "video_th":
                this.form.clip_th = response.data.path;
                break;
              case "video_en":
                this.form.clip_en = response.data.path;
                break;
              case "video_my":
                this.form.clip_my = response.data.path;
                break;
              case "video_kh":
                this.form.clip_kh = response.data.path;
                break;
              default:
                break;
            }
            document.getElementById("vidContent").value = null;
            this.uploadVidPercentage = 0;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        });
    },
    btnEvent(mode) {
      if (mode == "submit") {
        if (this.$route.query.type == "add") {
          // post
          this.$axios
            .post(`/news`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("เพิ่มข่าวใหม่สำเร็จ");
                this.$router.push("/main/news");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        } else if (this.$route.query.type == "edit") {
          // put
          this.$axios
            .put(`/news`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("แก้ไขข่าวสำเร็จ");
                this.$router.push("/main/news");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      } else if (mode == "delete") {
        if (this.$route.query.type == "add") {
          // back
          alert("ยกเลิกการสร้างข่าวใหม่สำเร็จ");
          this.$router.push("/main/news");
        } else if (this.$route.query.type == "edit") {
          // delete /news/:id
          this.$axios
            .delete(`/news/` + this.$route.query.id)
            .then((response) => {
              if (response.data.success == "success") {
                alert("ลบข่าวสำเร็จ");
                this.$router.push("/main/news");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      }
    },
    delContentIMGhandle(nat, index) {
      switch (nat) {
        case "th":
          this.form.image_th.splice(index, 1);
          break;
        case "en":
          this.form.image_en.splice(index, 1);
          break;
        case "my":
          this.form.image_my.splice(index, 1);
          break;
        case "kh":
          this.form.image_kh.splice(index, 1);
          break;
        default:
          break;
      }
    },
    delContentVIDhandle(mode) {
      switch (mode) {
        case "th":
          this.form.clip_th = null;
          break;
        case "en":
          this.form.clip_en = null;
          break;
        case "my":
          this.form.clip_my = null;
          break;
        case "kh":
          this.form.clip_kh = null;
          break;
        default:
          break;
      }
    },
  },
  mounted() {
    this.contenttype = this.$route.query.content;
  },
  beforeMount() {
    if (this.$cookies.get("token") === undefined) {
      this.$router.push("/login");
    } else {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      if (this.$route.query.type == "edit") {
        this.fetchData();
      } else {
        if (this.$route.query.content == "image") {
          this.form.image_th = [];
          this.form.image_en = [];
          this.form.image_my = [];
          this.form.image_kh = [];
        }
      }
    }
  },
};
</script>