// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

.font-cooper {
  font-family: "Cooper Std";
  font-weight: 400;
  src: url("~assets/fonts/Cooper Std Black.ttf") format("truetype");
}

$body-font-family: "Cooper Std";
$heading-font-family: "Cooper Std";
$font-size-root: 16px;
