<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h3>เนื้อหา</h3>
        </v-col>
      </v-row>

      <!-- thai -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container fluid>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/Thailand.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">ภาษาไทย</div>
                </v-col>
              </v-row>

              <v-row>
                <!-- question -->
                <v-col class="pr-8">
                  <div>
                    <div>คำถาม</div>
                    <div>
                      <v-text-field
                        v-model="form.topic_th"
                        background-color="white"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </div>
                  </div>
                </v-col>

                <!-- answer -->
                <v-col class="pl-8">
                  <div>
                    <div>คำตอบ</div>
                    <div>
                      <v-textarea
                        v-model="form.answer_th"
                        background-color="white"
                        outlined
                        dense
                        no-resize
                      >
                      </v-textarea>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- english -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container fluid>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/English.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">English</div>
                </v-col>
              </v-row>

              <v-row>
                <!-- question -->
                <v-col class="pr-8">
                  <div>
                    <div>คำถาม</div>
                    <div>
                      <v-text-field
                        v-model="form.topic_en"
                        background-color="white"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </div>
                  </div>
                </v-col>

                <!-- answer -->
                <v-col class="pl-8">
                  <div>
                    <div>คำตอบ</div>
                    <div>
                      <v-textarea
                        v-model="form.answer_en"
                        background-color="white"
                        outlined
                        dense
                        no-resize
                      >
                      </v-textarea>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- myanmar -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container fluid>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/Myanmar.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">Myanmar</div>
                </v-col>
              </v-row>

              <v-row>
                <!-- question -->
                <v-col class="pr-8">
                  <div>
                    <div>คำถาม</div>
                    <div>
                      <v-text-field
                        v-model="form.topic_my"
                        background-color="white"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </div>
                  </div>
                </v-col>

                <!-- answer -->
                <v-col class="pl-8">
                  <div>
                    <div>คำตอบ</div>
                    <div>
                      <v-textarea
                        v-model="form.answer_my"
                        background-color="white"
                        outlined
                        dense
                        no-resize
                      >
                      </v-textarea>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- cambodia -->
      <v-row>
        <v-col>
          <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
            <v-container fluid>
              <!-- flag head -->
              <v-row>
                <v-col class="d-flex">
                  <div>
                    <v-img
                      src="/image/Cambodia.png"
                      width="30"
                      height="30"
                      contain
                    >
                    </v-img>
                  </div>
                  <div class="ml-4">Cambodia</div>
                </v-col>
              </v-row>

              <v-row>
                <!-- question -->
                <v-col class="pr-8">
                  <div>
                    <div>คำถาม</div>
                    <div>
                      <v-text-field
                        v-model="form.topic_kh"
                        background-color="white"
                        outlined
                        dense
                      >
                      </v-text-field>
                    </div>
                  </div>
                </v-col>

                <!-- answer -->
                <v-col class="pl-8">
                  <div>
                    <div>คำตอบ</div>
                    <div>
                      <v-textarea
                        v-model="form.answer_kh"
                        background-color="white"
                        outlined
                        dense
                        no-resize
                      >
                      </v-textarea>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-col>
      </v-row>

      <!-- btn -->
      <v-row>
        <v-col>
          <v-divider class="py-2"></v-divider>
          <v-btn
            color="ci-orange"
            class="white--text px-8"
            @click="btnEvent('submit')"
            >บันทึก</v-btn
          >
          <span class="px-2"></span>
          <v-btn
            outlined
            color="ci-grey-dk2"
            class="px-8"
            @click="btnEvent('delete')"
            >ลบทิ้ง</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
      form: {
        topic_th: "",
        topic_en: "",
        topic_my: "",
        topic_kh: "",
        answer_th: "",
        answer_en: "",
        answer_my: "",
        answer_kh: "",
      },
    };
  },
  methods: {
    fetchData() {
      // /ask
      this.$axios
        .get(`/ask/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    btnEvent(mode) {
      if (mode == "submit") {
        if (this.$route.query.type == "add") {
          // post
          this.$axios
            .post(`/ask`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("สร้างคำถามที่พบบ่อยสำเร็จ");
                this.$router.push("/main/violent/FAQ");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        } else if (this.$route.query.type == "edit") {
          // put
          this.$axios
            .put(`/ask`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("แก้ไขคำถามที่พบบ่อยสำเร็จ");
                this.$router.push("/main/violent/FAQ");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      } else if (mode == "delete") {
        if (this.$route.query.type == "add") {
          // back
          alert("ยกเลิกการสร้างคำถามที่พบบ่อยใหม่สำเร็จ");
          this.$router.push("/main/violent/FAQ");
        } else if (this.$route.query.type == "edit") {
          // delete /ask/:id
          this.$axios
            .delete(`/ask/` + this.$route.query.id)
            .then((response) => {
              if (response.data.success == "success") {
                alert("ลบคำถามที่พบบ่อยสำเร็จ");
                this.$router.push("/main/violent/FAQ");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("token") === undefined) {
      this.$router.push("/login");
    } else {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      if (this.$route.query.type == "edit") {
        this.fetchData();
      }
    }
  },
};
</script>