<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h3>ข้อมูล</h3>
        </v-col>
      </v-row>

      <v-form v-model="formValid" refs="formRefs">
        <v-row>
          <div class="pa-3">
            เลือกกลุ่มเป้าหมาย
            <v-checkbox
              hide-details
              v-model="form.is_women"
              label="ผู้หญิง"
            ></v-checkbox>
            <v-checkbox
              hide-details
              v-model="form.is_child"
              label="เด็ก"
            ></v-checkbox>
            <v-checkbox
              hide-details
              v-model="form.is_young"
              label="เยาวชน"
            ></v-checkbox>
            <v-checkbox
              hide-details
              v-model="form.is_family"
              label="ครอบครัว"
            ></v-checkbox>
            <v-checkbox
              hide-details
              v-model="form.is_foreigner"
              label="ชาวต่างชาติ"
            ></v-checkbox>
            <v-checkbox
              hide-details
              v-model="form.is_informal"
              label="แรงงานนอกระบบ"
            ></v-checkbox>
            <v-checkbox
              hide-details
              v-model="form.is_migrant"
              label="แรงงานข้ามชาติ"
            ></v-checkbox>
            <v-checkbox
              hide-details
              v-model="form.is_survive"
              label="ผู้ป่วยที่รอดชีวิตจากอาชญากรรม"
            ></v-checkbox>
          </div>
        </v-row>
        <v-divider class="mt-6" />

        <v-row class="mt-8">
          <v-col cols="3">
            ละติจูด
            <v-text-field
              v-model="form.lat"
              background-color="white"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="3">
            ลองติจูด
            <v-text-field
              v-model="form.lng"
              background-color="white"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row align="center" v-for="(item, index) in form.tel" :key="index">
          <v-col cols="3">
            เบอร์โทรติดต่อ
            <v-text-field
              v-model="item.value"
              background-color="white"
              outlined
              dense
              hide-details
            >
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn plain color="#FF0000" @click="delTel(index)"
              ><u>ลบออก</u></v-btn
            >
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn outlined color="ci-blue" @click="addTel()">
              เพิ่มเบอร์
            </v-btn>
          </v-col>
        </v-row>

        <v-row
          align="center"
          v-for="(item, index) in form.website"
          :key="index"
        >
          <v-col cols="3">
            เว็บไซต์
            <v-text-field
              v-model="item.value"
              background-color="white"
              outlined
              dense
              hide-details
            >
            </v-text-field>
          </v-col>
          <v-col cols="2">
            <v-btn plain color="#FF0000" @click="delWeb(index)"
              ><u>ลบออก</u></v-btn
            >
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn outlined color="ci-blue" @click="addWeb()">
              เพิ่มเว็บไซต์
            </v-btn>
          </v-col>
        </v-row>

        <!-- thai -->
        <v-row>
          <v-col>
            <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
              <v-container fluid>
                <!-- flag head -->
                <v-row>
                  <v-col class="d-flex">
                    <div>
                      <v-img
                        src="/image/Thailand.png"
                        width="30"
                        height="30"
                        contain
                      >
                      </v-img>
                    </div>
                    <div class="ml-4">ภาษาไทย</div>
                  </v-col>
                </v-row>

                <!-- name -->
                <v-row>
                  <v-col>
                    ชื่อ
                    <v-text-field
                      v-model="form.name_th"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    บริการ
                    <v-text-field
                      v-model="form.service_th"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    ที่อยู่
                    <v-text-field
                      v-model="form.address_th"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>

        <!-- english -->
        <v-row>
          <v-col>
            <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
              <v-container fluid>
                <!-- flag head -->
                <v-row>
                  <v-col class="d-flex">
                    <div>
                      <v-img
                        src="/image/English.png"
                        width="30"
                        height="30"
                        contain
                      >
                      </v-img>
                    </div>
                    <div class="ml-4">English</div>
                  </v-col>
                </v-row>

                <!-- name -->
                <v-row>
                  <v-col>
                    ชื่อ
                    <v-text-field
                      v-model="form.name_en"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    บริการ
                    <v-text-field
                      v-model="form.service_en"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    ที่อยู่
                    <v-text-field
                      v-model="form.address_en"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>

        <!-- myanmar -->
        <v-row>
          <v-col>
            <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
              <v-container fluid>
                <!-- flag head -->
                <v-row>
                  <v-col class="d-flex">
                    <div>
                      <v-img
                        src="/image/Myanmar.png"
                        width="30"
                        height="30"
                        contain
                      >
                      </v-img>
                    </div>
                    <div class="ml-4">Myanmar</div>
                  </v-col>
                </v-row>

                <!-- name -->
                <v-row>
                  <v-col>
                    ชื่อ
                    <v-text-field
                      v-model="form.name_my"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    บริการ
                    <v-text-field
                      v-model="form.service_my"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    ที่อยู่
                    <v-text-field
                      v-model="form.address_my"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>

        <!-- cambodia -->
        <v-row>
          <v-col>
            <v-card color="ci-grey-lt3" class="pa-2" elevation="0">
              <v-container fluid>
                <!-- flag head -->
                <v-row>
                  <v-col class="d-flex">
                    <div>
                      <v-img
                        src="/image/Cambodia.png"
                        width="30"
                        height="30"
                        contain
                      >
                      </v-img>
                    </div>
                    <div class="ml-4">Cambodia</div>
                  </v-col>
                </v-row>

                <!-- name -->
                <v-row>
                  <v-col>
                    ชื่อ
                    <v-text-field
                      v-model="form.name_kh"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    บริการ
                    <v-text-field
                      v-model="form.service_kh"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    ที่อยู่
                    <v-text-field
                      v-model="form.address_kh"
                      background-color="white"
                      outlined
                      dense
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card>
          </v-col>
        </v-row>
      </v-form>

      <!-- btn -->
      <v-row>
        <v-col>
          <v-divider class="py-2"></v-divider>
          <v-btn
            color="ci-orange"
            class="white--text px-8"
            @click="btnEvent('submit')"
            >บันทึก</v-btn
          >
          <span class="px-2"></span>
          <v-btn
            outlined
            color="ci-grey-dk2"
            class="px-8"
            @click="btnEvent('delete')"
            >ลบทิ้ง</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formValid: false,
      form: {
        is_women: 0,
        is_child: 0,
        is_young: 0,
        is_family: 0,
        is_foreigner: 0,
        is_informal: 0,
        is_migrant: 0,
        is_survive: 0,
        lat: 0,
        lng: 0,
        tel: [{ value: "" }],
        website: [{ value: "" }],
        name_th: "",
        service_th: "",
        address_th: "",
        name_en: "",
        service_en: "",
        address_en: "",
        name_my: "",
        service_my: "",
        address_my: "",
        name_kh: "",
        service_kh: "",
        address_kh: "",
      },
    };
  },
  methods: {
    fetchData() {
      // /hospital
      this.$axios
        .get(`/hospital/` + this.$route.query.id)
        .then((response) => {
          if (response.data.success == "success") {
            this.form = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    addTel() {
      // add
      this.form.tel.push({ value: "" });
    },
    delTel(index) {
      this.form.tel.splice(index, 1);
    },
    addWeb() {
      // add
      this.form.website.push({ value: "" });
    },
    delWeb(index) {
      this.form.website.splice(index, 1);
    },
    btnEvent(mode) {
      if (mode == "submit") {
        if (this.$route.query.type == "add") {
          // post
          this.$axios
            .post(`/hospital`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("สร้างที่อยู่โรงพยาบาลใหม่สำเร็จ");
                this.$router.push("/main/location/hospital");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        } else if (this.$route.query.type == "edit") {
          // put
          this.$axios
            .put(`/hospital`, this.form)
            .then((response) => {
              if (response.data.success == "success") {
                alert("แก้ไขข้อมูลโรงพยาบาลสำเร็จ");
                this.$router.push("/main/location/hospital");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      } else if (mode == "delete") {
        if (this.$route.query.type == "add") {
          // back
          alert("ยกเลิกการสร้างที่อยู่โรงพยาบาลใหม่");
          this.$router.push("/main/location/hospital");
        } else if (this.$route.query.type == "edit") {
          // delete /hospital/:id
          this.$axios
            .delete(`/hospital/` + this.$route.query.id)
            .then((response) => {
              if (response.data.success == "success") {
                alert("ลบที่อยู่โรงพยาบาลสำเร็จ");
                this.$router.push("/main/location/hospital");
              } else {
                alert(
                  response.data.message_th ||
                    "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
                );
              }
            })
            .catch((error) => {
              console.log(error.response);
            });
        }
      }
    },
  },
  beforeMount() {
    if (this.$cookies.get("token") === undefined) {
      this.$router.push("/login");
    } else {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      if (this.$route.query.type == "edit") {
        this.fetchData();
      }
    }
  },
};
</script>