<template>
  <div>
    <v-container fluid>
      <v-row>
        <v-col>
          <h2>โรงพยาบาล</h2>
        </v-col>
        <v-col align="right">
          <v-btn
            color="ci-orange"
            class="white--text"
            @click="createNewHandle()"
          >
            สร้างใหม่
          </v-btn>
        </v-col>
      </v-row>

      <!-- text field -->
      <v-row class="justify-end">
        <v-col cols="3">
          <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="auto"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dateRangeText"
                label="เลือกช่วงวันที่"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="dates"
              range
              @change="fetchData()"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="3">
          <v-text-field
            v-model="search"
            placeholder="ค้นหา"
            prepend-inner-icon="mdi-magnify"
            outlined
            dense
          >
          </v-text-field>
        </v-col>
      </v-row>

      <!-- data table -->
      <v-row v-if="results != null">
        <v-col>
          <v-data-table :headers="headers" :items="results" :search="search">
            <template v-slot:item.btn="{ item }">
              <v-btn outlined @click="rowClickHandle(item)">
                <v-icon size="18"> mdi-pencil </v-icon>
                จัดการ
              </v-btn>
            </template>
            <!-- <template v-slot:item.type="{ item }">
              <v-chip v-if="item.type == 'img'">
                <v-icon class="black--text"> mdi-image-multiple </v-icon>
                รูปภาพ
              </v-chip>
              <v-chip v-if="item.type == 'video'">
                <v-icon class="black--text"> mdi-video </v-icon>
                วิดีโอ
              </v-chip>
            </template> -->
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: 0,
      menu: false,
      dates: [],
      dropdownitems: [
        { title: "อัพโหลดวิดีโอ", icon: "mdi-video-plus-outline" },
        { title: "อัพโหลดภาพ", icon: "mdi-image-outline" },
      ],
      headers: [
        { text: "วันที่สร้าง", value: "date_create" },
        { text: "กลุ่มเป้าหมาย", value: "type", width: "20%" },
        { text: "ชื่อรายการ", value: "name_th", width: "30%" },
        { text: "ละติจูด (Latitude)", value: "lat" },
        { text: "ลองติจูด (Longtitude)", value: "lng" },
        { text: "", value: "btn" },
      ],
      search: "",
      results: null,
    };
  },
  methods: {
    fetchData() {
      // /hospital
      this.$axios
        .get(`/hospital`)
        .then((response) => {
          if (response.data.success == "success") {
            this.results = response.data.message;
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    rowClickHandle(item) {
      this.$router.push(
        `/main/location/hospital/detail?type=edit&id=${item.id}`
      );
    },
    createNewHandle() {
      this.$router.push(`/main/location/hospital/detail?type=add`);
    },
  },
  beforeMount() {
    if (this.$cookies.get("token") === undefined) {
      this.$router.push("/login");
    } else {
      this.$axios.setHeader("Authorization", this.$cookies.get("token"));
      this.fetchData();
    }
  },
  computed: {
    dateRangeText() {
      return this.dates.join(" - ");
    },
  },
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
};
</script>