<template>
  <div align="center" class="bg-loginpage">
    <v-container>
      <v-row class="mt-15">
        <v-col>
          <v-img src="/image/logo.png" width="140" height="140" contain>
          </v-img>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <div class="font-cooper cooper-dec font-weight-black">
            Smart Domestic Workers
          </div>
        </v-col>
      </v-row>
      <v-row class="mt-15">
        <v-col>
          <b style="font-size: 20px"> ผู้ดูแลระบบ </b>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col cols="4" align="left">
          username
          <v-text-field
            v-model="form.email"
            background-color="white"
            outlined
            dense
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col cols="4" align="left">
          password
          <v-text-field
            v-model="form.password"
            background-color="white"
            outlined
            dense
            type="password"
            @keydown.enter="login()"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row class="justify-center">
        <v-col cols="4">
          <v-btn
            color="ci-orange"
            class="white--text"
            large
            block
            @click="login()"
          >
            ลงชื่อเข้าใช้
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: "",
        password: "",
      },
    };
  },
  methods: {
    login() {
      // /login
      this.$axios
        .post(`/login`, this.form)
        .then((response) => {
          if (response.data.success == "success") {
            this.$cookies.set("token", response.data.message.token);
            this.$router.push("/main");
          } else {
            alert(
              response.data.message_th ||
                "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
            );
          }
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
  },
  beforeMount() {
    if (this.$cookies.get("token") != null) {
      this.$router.push("/main");
    }
  },
};
</script>

<style scoped>
.bg-loginpage {
  height: 100vh;
  width: 100%;
  background-image: url("/image/login-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  margin: 0%;
}

.font-cooper {
  font-family: "Cooper Std";
}

.cooper-dec {
  font-size: 32px;
}
</style>