<template>
  <div>
    <div class="bg-left-loginpage">
      <v-form v-model="valid">
        <v-container fluid>
          <v-row justify="start">
            <v-col cols="12" class="text-center ml-5">
              <div class="text-center">
                <v-row justify="center">
                  <v-col cols="6">
                    <div class="pa-5 dgreen" style="border-radius: 40px">
                      <v-img
                        src="/image/logo/logo.png"
                        max-height="200px"
                        contain
                      ></v-img>
                    </div>
                  </v-col>
                </v-row>
              </div>
              <div style="font-size: 42px" class="dgreen--text mt-5">
                <b>รีเซตรหัสผ่าน</b>
              </div>

              <v-row class="mt-8 justify-center">
                <v-col cols="8" class="pb-0">
                  <div align="left" class="my-3">รหัสผ่านใหม่</div>
                  <v-text-field
                    v-model="form.password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    placeholder="password"
                    :type="show1 ? 'text' : 'password'"
                    outlined
                    dense
                    color="dgreen"
                    :rules="passwordRules"
                    @click:append="show1 = !show1"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row class="justify-center">
                <v-col cols="8" class="py-0">
                  <div align="left" class="mb-3">ยืนยันรหัสผ่านใหม่</div>
                  <v-text-field
                    v-model="form.re_password"
                    placeholder="confirm password"
                    type="password"
                    outlined
                    dense
                    color="dgreen"
                    :rules="passwordRules"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-row class="mt-3 justify-center">
                <v-col cols="8">
                  <v-btn
                    color="orange"
                    block
                    x-large
                    class="white--text"
                    :disabled="!valid"
                    @click="submitHandle"
                  >
                    <h3>รีเซ็ตรหัสผ่าน</h3>
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </div>

    <!-- pass -->
    <v-dialog v-model="resDialog" max-width="400" persistent>
      <v-card>
        <v-container class="py-7">
          <v-row>
            <v-col class="text-center"><h3>เสร็จสิ้น</h3></v-col>
          </v-row>

          <v-row>
            <v-col class="text-center">
              คุณรีเซ็ตรหัสผ่านใหม่เรียบร้อย กรุณาเข้าสู่ระบบใหม่อีกครั้ง
            </v-col>
          </v-row>

          <v-row class="mt-10">
            <v-col class="text-center">
              <v-btn
                color="green darken-1"
                class="white--text"
                @click="$router.push('/successResetPassword')"
              >
                ปิด
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>

    <!-- fail -->
    <v-dialog v-model="failDialog" max-width="400" persistent>
      <v-card>
        <v-container class="py-7">
          <v-row>
            <v-col class="text-center"><h3>รหัสผ่านผิดพลาด</h3></v-col>
          </v-row>

          <v-row>
            <v-col class="text-center">
              รหัสผ่านไม่ตรงกัน กรุณาลองใหม่อีกครั้ง
            </v-col>
          </v-row>

          <v-row class="mt-10">
            <v-col class="text-center">
              <v-btn
                color="green darken-1"
                class="white--text"
                @click="failDialog = false"
              >
                ปิด
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show1: false,
      resDialog: false,
      failDialog: false,
      valid: false,
      form: {
        password: null,
        re_password: null,
        token: this.$route.query.token,
      },
      passwordRules: [
        (v) => !!v || "กรุณากรอกข้อมูลให้ครบถ้วน",
        (v) => /^.{8,20}$/.test(v) || "8-20 ตัวอักษร",
      ],
    };
  },
  methods: {
    submitHandle() {
      if (this.form.password != this.form.re_password) {
        this.form.password = null;
        this.form.re_password = null;
        this.failDialog = true;
      } else {
        this.$axios
          .post(`/resetpassword`, this.form)
          .then((response) => {
            if (response.data.success == "success") {
              this.resDialog = true;
            } else {
              alert(
                response.data.message_th ||
                  "เกิดปัญหาบางอย่าง กรุณาตรวจสอบอีกครั้ง หรือ ติดต่อผู้ดูแลระบบ"
              );
            }
          })
          .catch((error) => {
            console.log(error.response);
          });
      }
    },
    fetchCheck() {
      // console.log(this.$route.query.token);
    },
  },
  beforeMount() {
    this.$cookies.removeAll();
    if (this.$route.query.token == null) {
      this.$router.push("/");
    }
  },
};
</script>

<style>
.bg-left-loginpage {
  height: 100vh;
  width: 100%;
  background-image: url("/image/login/BG.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0%;
  margin: 0%;
}
</style>
