<template>
  <div>
    <v-container>
      <v-row class="mt-14">
        <v-col>
          <div class="text-center">
            <h1>ทำการรีเซตรหัสผ่านเสร็จเรียบร้อย</h1>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>